html{
	scroll-behavior: smooth;
	height: 100%
}
body{
	background-color: #004a61;
	color: #fff;
	font-family: 'Open Sans',sans-serif;
	font-size: 18px
}
h1{
	font-size: 42px;
	font-weight: 700;
	text-align: center;
	margin: 48px;
	padding-bottom: 20px;
	font-family: 'Cinzel Decorative',cursive
}
h2{
	font-size: 48px;
	font-weight: 900;
	text-align: center;
	margin: 48px;
	padding-bottom: 20px;
	font-family: 'Cinzel Decorative',cursive
}
h3{
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	margin: 48px;
	padding-bottom: 20px;
	font-family: 'Cinzel Decorative',cursive
}
h4{
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	margin: 48px;
	padding-bottom: 20px;
	font-family: 'Cinzel Decorative',cursive
}
hr{
	color: #45c0e6;
	width: 60%
}
section{
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: -8px;
	margin-right: -8px
}
.box1{
	background-color: rgba(0,0,0,.7);
	width: 100%;
	padding-top: 400px;
	padding-bottom: 500px
}
.box2{
	background-color: rgba(0,0,0,.7);
	width: 100%;
	align-items: center;
	padding-top: 70px;
	padding-bottom: 20px
}
.debug{
	background-color: #004a61;
	color: #fff;
	font-family: 'Open Sans',sans-serif;
	font-size: 12px
}
#navbar{
	position: fixed;
	width: 100%;
	background-color: #004a61;
	color: #fff;
	margin: -8px;
	padding: 8px 8px 0 8px;
	z-index: 2;
	display: inline-block;
	min-width: 680px;
	box-shadow: 0 1px 4px #45c0e6;
	border-bottom: 2px #45c0e6
}
#lunardoLogo{
	font-family: 'Cinzel Decorative',cursive;
	font-weight: 900;
	font-size: 30px;
	float: left;
	margin-left: 20px
}
#lunardoLogo img{
	width: 70px;
	height: 70px;
	margin: 10px;
	vertical-align: middle
}
#lunardoLogo a{
	text-decoration: none;
	color: #fff
}
nav img{
	height: 40px;
	background-color: #fff;
	vertical-align: middle;
	margin-right: 20px;
	border-radius: 25px;
	padding: 5px;
	width: 20px;
	height: 20px;
	display: inline
}
nav ul{
	text-align: right;
	width: 97%;
	margin-top: 25px;
	margin-bottom: 25px;
	top: 40px
}
nav ul li{
	display: inline;
	margin-left: -2px;
	margin-right: 16px
}
ul li a{
	text-decoration: none;
	color: #fff;
	font-family: 'Cinzel Decorative',cursive
}
nav a:hover{
	color: #000;
	transition: color .3s
}
#Banner{
	background-image: url(../../media/cinema.jpg)
}
#bannerContent{
	position: relative;
	margin: -8px
}
.bannertext{
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	text-shadow: 4px 4px #000
}
.bannertext h1{
	font-size: 36px
}
.bannertext p{
	font-size: 24px
}
#aboutUs{
	background-image: url(../../media/avatar-background.png)
}
#History p{
	text-align: center
}
#Renovation{
	text-align: center
}
#Renovation img{
	display: inline;
	width: 600px;
	vertical-align: middle;
	margin-bottom: 20px
}
#Renovation p{
	text-align: center
}
#Seats{
	text-align: center
}
#Seats p{
	text-align: center;
	display: inline-block
}
.seatInfo{
	width: 600px;
	display: inline;
	padding: 15px
}
.seatInfo img{
	display: inline;
	width: 300px;
	vertical-align: middle;
	margin-right: 30px
}
.seatInfo ul{
	display: inline-block;
	text-align: inherit;
	width: 200px
}
.seatInfo ul li{
	margin-top: 5px
}
#Dolby{
	text-align: center
}
#Dolby img{
	display: inline;
	vertical-align: middle;
	width: 180px;
	padding: 0 5% 5% 5%
}
#Dolby p{
	display: inline-block;
	width: 50vw;
	text-align: left
}
#prices{
	background-image: url(../../media/puss-background.jpg);
	text-align: center
}
table,td,th,tr{
	text-align: center;
	padding: 15%
}
table{
	width: 100%;
	margin: 30px auto
}
td,th{
	padding: 15px
}
th{
	font-weight: 400
}
td{
	background-color: rgba(0,0,0,.6)
}
#labels{
	background-color: #004a61;
	height: 100%
}
#nowShowing{
	background-image: url(../../media/weird-background.png);
	text-align: center
}
.now-showing-container{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-evenly;
	align-content: center;
	flex-wrap: wrap;
	margin-bottom: auto
}
.flip-card-flow-container{
	width: 50%
}
.flip-card-container{
	height: auto;
	width: 100%
}
.flip-card{
	width: 560px;
	height: 700px;
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 100px
}
.flip-card-front,.times-booking{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	justify-content: center;
	align-items: center
}
.flip-card-front{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 3s;
	transform-style: preserve-3d;
	backface-visibility: hidden
}
.flip-card:active .flip-card-front,.flip-card:focus .flip-card-front,.flip-card:hover .flip-card-front{
	transform: rotateY(180deg)
}
.movies,.times-booking{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	float: left
}
.movies{
	background-color: transparent;
	background-color: rgba(0,0,0,.5);
	width: 600px;
	height: 700px;
	backface-visibility: hidden
}
.movies img{
	width: 300px;
	height: 300px
}
.times-booking{
	background-color: rgba(0,0,0,.7);
	color: #fff;
	transform: rotateY(180deg);
	text-align: center;
	backface-visibility: hidden
}
.times-booking h4{
	font-size: 25px
}
.times-booking p{
	font-size: 18px;
	text-align: center
}
.button-link{
	background-color: #fff;
	border-radius: 5px;
	border-color: #004a61;
	width: 70%;
	color: #004a61;
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	box-shadow: inherit;
	align-self: center;
	transition-duration: .2s;
	align-items: center
}
.button-link:active,.button-link:focus,.button-link:hover{
	box-shadow: rgba(0,0,0,.25) 0 .0625em .0625em,rgba(0,0,0,.25) 0 .125em .5em,rgba(255,255,255,.1) 0 0 0 1px inset;
	transition-duration: .2s
}
.button-link:active,.button-link:focus,.button-link:hover{
	box-shadow: rgba(0,0,0,.25) 0 .0625em .0625em,rgba(0,0,0,.25) 0 .125em .5em,rgba(255,255,255,.1) 0 0 0 1px inset;
	transition-duration: .2s
}
footer{
	border-top: 1px solid #45c0e6;
	font-size: 10px;
	background-color: #004a61;
	margin-left: -8px;
	margin-right: -8px
}
.footer{
	padding: 5px 15px;
	font-size: 12px;
	background-color: #004a61
}
.footer a{
	text-decoration: underline;
	font-family: 'Open Sans',sans-serif
}
.box3{
	background-color: rgba(0,0,0,.7);
	width: 100%;
	align-items: center;
	padding-top: 150px;
	padding-bottom: 20px;
	text-align: center
}
.box3 p{
	text-align: center
}
.boxText{
	width: 75%;
	margin: 20px auto
}
.boxText img{
	width: 80%;
	margin: 20px auto
}
#booking{
	background-image: url(../../media/avatar-background.png);
	text-align: center
}
#booking2{
	background-image: url(../../media/weird-background.png);
	text-align: center
}
#synopsis{
	background-image: url(../../media/puss-background.jpg);
	text-align: center
}
.sessionTimes{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-evenly;
	align-content: center;
	flex-wrap: wrap
}
.sessionTimes:hover{
	border-bottom: 4px solid #45c0e6;
	cursor: pointer;
	transition: border-bottom .3s
}
.sessionTimes img{
	width: 200px;
	margin: 20px;
	vertical-align: middle
}
.movieInfo{
	padding: 30px;
	vertical-align: top
}
.sessionTimes h3{
	margin: 0
}
.summary{
	background-color: rgba(0,0,0,.5);
	display: inline;
	text-align: left
}
.booking h3,.summary h3{
	width: 90%;
	padding: 1em 5%;
	margin: 0 auto;
	text-align: center;
	font-size: 32px
}
.synopsis-info{
	width: 500px;
	margin: 0 20px;
	display: inline
}
.synopsis iframe{
	height: 360px;
	width: 640px;
	display: inline;
	vertical-align: middle;
	margin: 0 auto;
	border: 0
}
#bookingTitle,#movieSelectTitle{
	width: 90%;
	padding: 1em 5%;
	margin: 0 auto;
	text-align: center
}
.synopsis ul{
	margin: 1.5em 10px;
	padding: 0
}
.synopsis ul li{
	list-style: none;
	display: inline-block;
	width: auto;
	border: 2px solid #004a61;
	margin: 0 2px
}
.synopsis ul li:hover{
	background-color: #45c0e6;
	transition: background-color .3s
}
.bookingTime{
	background-color: rgba(0,0,0,0);
	color: #fff;
	font-size: 16px;
	padding: 1em 15px;
	border: none;
	cursor: pointer
}
#movieSelectList img{
	width: 150px;
	margin: 0 5px
}
#movieSelectList input{
	width: 150px;
	margin: 0
}
#movieSelectList li{
	padding: 0;
	text-align: center;
	width: auto;
	font-size: 10px;
	border: 0
}
.booking{
	background-color: rgba(0,0,0,.5);
	display: inline-block
}
#formMessage{
	text-align: center
}
#seatForm{
	width: 570px;
	margin: 1em 10px
}
#seatForm select{
	margin: 10px 250px 10px 10px;
	font-size: 16px;
	color: #fff;
	border: none;
	border-bottom: 2px solid #004a61;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../../media/down-arrow.png) 96%/15% no-repeat;
	width: 125px
}
#total{
	margin: 10px;
	padding: 10px 20px;
	font-size: 24px;
	width: 510px;
	background-color: #004a61;
	color: #fff
}
fieldset{
	margin: 20px 10px;
	border: 2px solid #004a61;
	text-align: right
}
#personalInfoForm{
	width: 570px;
	margin: 1em 10px;
	vertical-align: top;
	padding: 20px 10px
}
#personalInfoForm input{
	margin: 10px;
	font-size: 18px;
	background-color: rgba(0,0,0,0);
	color: #fff;
	border: none;
	border-bottom: 2px solid #004a61;
	width: 350px
}
#submitButton{
	display: block;
	margin: 1em auto;
	text-align: center;
	width: 250px;
	padding: 1em 1em;
	font-size: 18px;
	background-color: #004a61;
	border: none;
	border-bottom: 2px solid #004a61;
	color: #fff
}
#submitButton img{
	width: 30px;
	float: left;
	display: inline;
	margin: 0 10px
}
#submitButton:hover{
	border-bottom: 2px solid #fff;
	transition: border-bottom .3s
}
button:disabled,input:disabled,select:disabled{
	opacity: .5
}
@media screen and (max-width: 600px){
	.box3 iframe{
		width: 556px;
		height: 315px
}
	.table,td,th,tr{
		width: 600px
}
	body{
		max-width: 100%
}
	.navbar{
		max-width: 600px;
		flex-direction: column
}
	.nav{
		width: 100%
}
	.flip-card-flow-container,.movies,.nav{
		flex-direction: column;
		height: 100%;
		width: 90%;
		margin-bottom: 20%
}
	nav ul{
		text-align: center;
		display: inline-flex;
		width: 80%;
		margin-top: 25px;
		margin-bottom: 25px;
		top: 40px
}
	#Renovation img{
		max-width: 580px
}
}
@media screen and (max-width: 992px){
	.box3 iframe{
		width: 556px;
		height: 315px
}
	.table,td,th,tr{
		width: 992px
}
	body{
		max-width: 100%
}
	.navbar{
		max-width: 992px;
		flex-direction: column
}
	.nav{
		width: 100%
}
	.flip-card-flow-container,.movies,.nav{
		flex-direction: column;
		height: 100%;
		width: 90%;
		margin-bottom: 20%
}
	nav ul{
		text-align: center;
		display: inline-flex;
		width: 100%;
		margin-top: 25px;
		margin-bottom: 25px;
		top: 40px
}
	.box3{
		padding-top: 15%
}
	#Renovation img{
		max-width: 992px
}
}
@media screen and (max-width: 1200px){
	.box3 iframe{
		width: 556px;
		height: 315px
}
	.table,td,th,tr{
		width: 1200px
}
	body{
		max-width: 100%
}
	.navbar{
		max-width: 1200px;
		flex-direction: column
}
	.nav{
		width: 100%
}
	.flip-card-flow-container,.movies,.nav{
		flex-direction: column;
		height: 100%;
		width: 90%;
		margin-bottom: 20%
}
	nav ul{
		text-align: right;
		width: 95%;
		margin-top: 25px;
		margin-bottom: 25px;
		top: 40px
}
	#Renovation img{
		max-width: 1200px
}
}
